@import url("https://fonts.cdnfonts.com/css/digital-7-mono");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.first-box {
  width: 35rem;
  height: 6rem;
  margin: auto;
  display: flex;
  margin-top: 4rem;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#16d9d9, #164444);
  color: #ebf2f3;
}

#heading {
  text-align: center;
  letter-spacing: 0.1rem;
}

.first-box h1 {
  text-transform: uppercase;
}

.second-box {
  width: 35rem;
  height: 14rem;
  margin: auto;
  display: flex;
  margin-top: 1rem;
  background-color: #272e38;
  box-shadow: 0.5rem 2rem 2rem rgba(0, 0, 0, 0.6),
    0rem 2rem 2rem rgba(0, 0, 0, 0.6);
}

.third-box {
  width: 25rem;
  height: 9rem;
  border: 0.17rem solid black;
  margin: auto;
  align-items: center;
  font-family: "Digital-7 Mono", sans-serif;
  font-weight: bold;
  color: #cbcbcb;
  border-radius: 0.6rem;
  background: #0f1620;
}

#weekdays {
  display: flex;
  padding-bottom: 0.5rem;
  margin-left: 3rem;
  margin-top: 1rem;
  gap: 1rem;
}

#weekdays span {
  opacity: 0.2;
  color: #ebf2f3;
  letter-spacing: 0.1rem;
}

#weekdays span.active {
  opacity: 1;
}

.time {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.2rem;
}
.third-box #hours {
  font-size: 5rem;
  gap: 1rem;
}

.third-box .dots {
  font-size: 4.5rem;
}
.third-box #minutes {
  font-size: 5rem;
}

.third-box #seconds {
  font-size: 5rem;
}

#final-box {
  display: flex;
  flex-direction: column;
  width: 35rem;
  margin: auto;
  height: 5rem;
  margin-top: 3rem;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  gap: 1rem;
  background: linear-gradient(rgb(211, 8, 8), rgb(238, 186, 88));
  color: #ebf2f3;
}

@media screen and (min-device-width: 320px) and (max-device-width: 414px) {
  .first-box {
    width: 20rem;
    height: 4rem;
  }

  #heading {
    font-size: 1.5rem;
  }

  .second-box {
    width: 20rem;
    height: 10rem;
  }

  .third-box {
    width: 15rem;
    height: 6rem;
    letter-spacing: 0.1rem;
  }

  #weekdays {
    padding-bottom: 0.5rem;
    margin-left: 1rem;
    margin-top: 1rem;
    gap: 0.5rem;
    font-size: 0.8rem;
  }

  .third-box #hours {
    font-size: 3rem;
  }

  .third-box .dots {
    font-size: 2.6rem;
  }
  .third-box #minutes {
    font-size: 3rem;
  }

  .third-box #seconds {
    font-size: 3rem;
  }

  #final-box {
    width: 20rem;
    height: 4rem;
    font-size: 0.8rem;
    letter-spacing: 0.08rem;
  }
}
@media screen and (min-device-width: 414px) and (max-device-width: 480px) {
  .first-box {
    width: 25rem;
    height: 5rem;
  }

  .second-box {
    width: 25rem;
    height: 11rem;
  }

  .third-box {
    width: 15rem;
    height: 7rem;
    letter-spacing: 0.1rem;
  }

  #weekdays {
    padding-bottom: 0.5rem;
    margin-left: 1rem;
    margin-top: 1rem;
    gap: 0.5rem;
    font-size: 0.8rem;
  }

  .third-box #hours {
    font-size: 3.2rem;
  }

  .third-box .dots {
    font-size: 3rem;
  }
  .third-box #minutes {
    font-size: 3.2rem;
  }

  .third-box #seconds {
    font-size: 3.2rem;
  }

  #final-box {
    width: 25rem;
    height: 4rem;
    font-size: 0.8rem;
  }
}

@media screen and (min-device-width: 480px) and (max-device-width: 600px) {
  .first-box {
    width: 29rem;
    height: 5rem;
  }

  .second-box {
    width: 29rem;
    height: 12rem;
  }

  .third-box {
    width: 19rem;
    height: 8rem;
    letter-spacing: 0.2rem;
  }

  #weekdays {
    padding-bottom: 0.5rem;
    margin-left: 1.7rem;
    margin-top: 1rem;
    gap: 0.7rem;
    font-size: 0.9rem;
  }

  .third-box #hours {
    font-size: 4rem;
  }

  .third-box .dots {
    font-size: 3.5rem;
  }
  .third-box #minutes {
    font-size: 4rem;
  }

  .third-box #seconds {
    font-size: 4rem;
  }

  #final-box {
    width: 29rem;
    height: 4rem;
  }
}
